.landingPage {
  display: flex;
  flex-direction: column;
  margin: auto;



  .products-wrapper {
    .products {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: var(--color-background-papiro);
      padding: var(--space-6);
      gap: var(--space-3);

      .products__carousel {
        overflow: hidden;
        flex: 1;
        min-width: 0;
      }

      .products__list {
        display: flex;
        gap: var(--space-4);
        transition: transform 0.5s ease;
        padding: var(--space-2);
      }

      .card {
        flex: 0 0 auto;
        width: 300px;
      }
    }
  }


  .categories {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: center;
    padding: var(--space-6);
  }


  .category__card {
    background: #fff;
    border-radius: 8px;
    padding: 16px;
    width: 150px;
    text-align: center;
    box-shadow: var(--shadow-item);
    cursor: pointer;
  }

  .category__icon {
    font-size: 2rem;

    img {
      width: 80px;
      height: 80px;
      filter: brightness(1.7) contrast(1.1) saturate(1.2) sepia(0.05);
    }

  }

  .category__name {
    margin: 8px 0 4px;
    font-size: 1.1rem;
  }

  .category__desc {
    font-size: 0.9rem;
    color: var(--color-text-highlight);
  }

  .images__section {
    display: flex;
    gap: 16px;
    padding: var(--space-6);
    justify-content: center;
    border-top: 10px solid var(--color-primary-light);
    box-shadow: var(--shadow-item-top);

  }

  .images__section-main {
    flex: 2;
    overflow: hidden;
    height: 800px;
    border-radius: 10px;
    box-shadow: var(--shadow-item);


    img {
      display: block;
      width: 100%;
      height: auto;
      object-fit: cover;
    }
  }

  .images__section-sidebar {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 16px;
    gap: 16px;
    display: flex;
    flex-direction: column;

  }

  .images__section-thumb {
    overflow: hidden;
    border-radius: 10px;
    box-shadow: var(--shadow-item);

    display: flex;

    img {
      display: block;
      width: 100%;
      height: 392px;

      object-fit: cover;
    }
  }
}