.modals__container {

  .modal_wrapper {
    position: fixed;
    inset: 0;
    background: var(--color-overlay);
    z-index: var(--z-index-modal);
    overflow: auto;
    padding: 10vh 0;
  }

  .modal_container {
    margin: auto;
    background: var(--color-background-paper);
    border-radius: var(--radius-section);
    box-shadow: var(--shadow-modal);
    overflow: hidden;
  }

  .modal_container.size-md {
    width: max(500px, 50vw)
  }

  .modal_container.size-sm {
    width: max(300px, 30vw)
  }

  .modal_header {
    display: flex;
    box-shadow: var(--shadow-small);
    padding: var(--space-3);
    align-items: center;
    font-weight: bold;
  }

  .modal_close {
    margin-left: auto;
  }

  .modal_body {
    &>* {
      border-radius: 0;
    }

    .table {
      box-shadow: none;
    }
  }

  .modal_actions {
    display: flex;
    box-shadow: var(--shadow-small);
    padding: var(--space-1);
    gap: var(--space-2);
    align-items: center;
    justify-content: end;
    font-weight: bold;
  }
}

$easing-in: ease-out;
$easing-out: ease-in;
$duration: 150ms;

.drawer__wrapper {
  position: fixed;
  right: 0;
  bottom: 0;
  top: 0;
  width: 350px;
  background: var(--color-background-paper);
  height: 100%;
  z-index: var(--z-index-modal);
  box-shadow: var(--shadow-floating);
  transform: translateX(100%); // start hidden off-screen

  &.stack {
    gap: 0;
  }

  &.is_open {
    @include animation(slide-in-right, $duration, $easing-in);
  }

  &.is_closing {
    @include animation(slide-out-right, $duration, $easing-out);
  }
}

.drawer__header {
  border-bottom: 1px solid var(--color-border-section);
  padding: var(--space-3);

  strong {
    flex-basis: 100%;
    flex-shrink: 1;
  }

  button {
    flex-shrink: 0;
    flex-basis: 28px;
  }
}

.drawer__content {
  padding: var(--space-3);
  height: 100%;
  overflow: auto;
}